{% autoescape off %}
Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe de votre compte sur la plateforme Beta Lab.

Veuillez suivre le lien ci-dessous pour créer un nouveau mot de passe :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si ce lien ne fonctionne pas, veuillez le copier et le coller dans votre navigateur.

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email.

Cordialement,
L'équipe Beta Lab
{% endautoescape %}